<div id="footerSection">
    <div class="container">
        <div class="row">

            <div id="socialMedia" class="span3 pull-right">
                <a href="#">
                    <img width="40" height="40" src="themes/images/facebook.png" alt="Facebook" />
                </a>
                <a href="#">
                    <img width="40" height="40" src="themes/images/twitter.png" alt="Twitter" />
                </a>
                <a href="#">
                    <img width="40" height="40" src="themes/images/youtube.png" alt="YouTube" />
                </a>
            </div>

        </div>
    </div>
</div>
<div id="copyright">
    <div class="container">
        <p class="pull-left">&copy; Munthe - All rights reserved.</p>
    </div>
</div>