<!-- SIDEBAR -->
<div id="sidebar" class="span3">

    <ul id="sideManu" class="nav nav-tabs nav-stacked">

        <!-- KATEGORI -->
        <li class="subMenu open"><a> KATEGORI </a>
            <ul>

                <!-- ALL -->
                <li>
                    <a class="active" href="produk.html">
                        <i class="icon-chevron-right"></i> Semua Produk
                    </a>
                </li>

                <!-- ALAT MUSIK -->
                <li>
                    <a>ALAT MUSIK</a>
                    <ul>
                        <li><a href="produk_gitar.html"><i class="icon-chevron-right"></i>Gitar</a></li>
                        <li><a href="produk_biola.html"><i class="icon-chevron-right"></i>Biola</a></li>
                        <li><a href="produk_keyboard.html"><i class="icon-chevron-right"></i>Keyboard</a></li>
                        <li><a href="produk_drum.html"><i class="icon-chevron-right"></i>Drum</a></li>
                    </ul>
                </li>

                <!-- ALAT OLAHRAGA -->
                <li>
                    <a>ALAT OLAHRAGA</a>
                    <ul>
                        <li><a href="produk_sepeda.html"><i class="icon-chevron-right"></i>Sepeda</a></li>
                        <li><a href="produk_bola.html"><i class="icon-chevron-right"></i>Bola</a></li>
                        <li><a href="produk_raket.html"><i class="icon-chevron-right"></i>Raket</a></li>
                        <li><a href="produk_sarungtangan.html"><i class="icon-chevron-right"></i>Sarung Tangan</a></li>
                    </ul>
                </li>

            </ul>
        </li>

    </ul>

    <br/>

    <div class="thumbnail">
        <img src="../themes/images/payment_methods.png" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>

</div>
