<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

            <div class="item active">
                <div class="container">
                    <a href="#"><img style="width:50%" src="../themes/images/carousel/1.jpg" alt="Carousel 1" /></a>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <a href="#"><img style="width:57.8%" src="../themes/images/carousel/2.jpg" alt="Carousel 2" /></a>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <a href="#"><img style="width:32.7%" src="../themes/images/carousel/3.jpg" alt="Carousel 3" /></a>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <a href="#"><img style="width:43.3%" src="../themes/images/carousel/4.jpg" alt="Carousel 4" /></a>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <a href="#"><img style="width:24.4%" src="../themes/images/carousel/5.jpeg" alt="Carousel 5" /></a>
                </div>
            </div>

            <div class="item">
                <div class="container">
                    <a href="#"><img style="width:32.5%" src="../themes/images/carousel/6.jpg" alt="Carousel 6" /></a>
                </div>
            </div>

        </div>

        <!-- Carousel Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
