/* PRODUK */
.produk-section {
    width: 100%;
}

.produk-section h2 {
    margin-top: 0;
}

.produk-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px;
}

.produk-card {
    background: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.produk-card img {
    width: 100%;
    border-radius: 5px;
}

.produk-card button {
    background: #333;
    color: white;
    border: none;
    padding: 7px 13px;
    border-radius: 4px;
    margin-top: 6px;
    font-size: 14px;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.sosmed span {
    margin: 0 8px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {

    .produk-section {
        width: 100%;
    }

    .produk-list {
        grid-template-columns: repeat(4, 2fr);
    }
}

/* RESPONSIVE HP KECIL */
@media (max-width: 480px) {
    .produk-list {
        grid-template-columns: repeat(4, 2fr);
    }
}
